<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player" [ngStyle]="{'top.px':200 + (i * 80)}"
    [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]" class="playerPosition hide-mobile"></app-player>

    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;" [name]="player" [ngStyle]="{'top.px':16 + (i * 40)}"
    [playerActive]="i == game.currentPlayer" [image]="game.playerImages[i]" class="playerPosition hide-desktop"></app-player-mobile>

<div *ngIf="gameOver" class="gameOver">
<h1 style="font-family: 'Yusei Magic', sans-serif;">Game Over!</h1>
<h2 style="font-family: 'Yusei Magic', sans-serif;" routerLink="/">Go to start screen</h2>
</div>

<div *ngIf="!gameOver" class="field">

    <div class="card-stack">

        <img *ngFor="let c of [1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i*3, 'top.px': i*2}"
            src="assets/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 13px; top: 13px;" src="assets/cards/card_cover.png">

        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/cards/{{ card }}.png" alt="">

        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 13px; top: 13px;"
            src="assets/cards/{{ game.currentCard }}.png">
    </div>
</div>

<app-game-info *ngIf="!gameOver" [card]="game.currentCard" class="card"></app-game-info>

<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>