//Mobile vesrion CSS
.player {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    overflow: hidden;
    width: 250px;
    height: 35px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
        font-family: 'Yusei Magic', sans-serif;
        font-size: 20px;
        margin-left: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 25px;
    }
    
        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    
    .player-active {
        background-color: orange !important;
        width: 275px;
    }